<link rel="stylesheet" href="{{ 'cart-header.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="sidebar-cart" id="cart">
    <div class="drawer-header">
        <div class="drawer-title">
            CART
        </div>
        <button class="drawer-close">
            <svg class="Icon Icon--close" role="presentation"
                viewBox="0 0 16 14">
                <path d="M15 0L1 14m14 0L1 0" stroke="currentColor"
                    fill="none" fill-rule="evenodd"></path>
            </svg>

        </button>
    </div>
    <div class="drawer-content">
        <div
            style="flex-direction:column; background:#dcc1a3; color: #FFFFFF; ">
            <div class="cart-banner-main">
                ACADEMY REWARDS </div>
            <div class=" cart-banner-body">
                <div class=" cart-banner-blocks"
                    style="flex-direction: column; ">
                    <div class="cart-banner-block earn"
                        style="color:white;"> $10 reward</div>
                    <div class="cart-banner-block"
                        style="color: white;"> earned when you sign
                        up
                    </div>
                </div>

                <div class=" cart-banner-blocks"
                    style="flex-direction: column;">
                    <div class="cart-banner-block earn"
                        style="color:white;"> $10 reward</div>
                    <div class="cart-banner-block"
                        style="color: white;"> per $100 spent
                    </div>
                </div>

            </div>
            <div class="cart-collapsible-banner-login">
                <a href
                    class="cart-collapsible-banner-button"
                    style="background:#FFFFFF; color:#dcc1a3;"> Join
                    Now </a>
                <a href
                    class="cart-collapsible-banner-button">
                    Login </a>
            </div>
            <div class="cart-banner-secondary">
                <p>Spend &amp; earn today!</p>
            </div>
        </div>
        <div class="drawer-main">
            <div class="Cart-ShippingNotice">
                <div class="Drawer-Container">
                    <p>Spend $9.05 more and get free shipping!</p>
                </div>
            </div>
            <div class="Drawer-Container">
                <div class="Cart-ItemList">
                    <div class="CartItemWrapper">
                        <div class="CartItem">
                            <div class="CartItem-ImageWrapper">
                                <img
                                    style="height: 175px; width: 125px;"
                                    src="//academybrand.com/cdn/shop/files/TEDSHIRT-SEASPONGE-B_240x.jpg?v=1725508226">
                            </div>
                            <div class="CartItem-Info">
                                <div class="CartItem-Title">
                                    Ted Short Sleeve Shirt
                                </div>
                                <div class="CartItem-Meta">
                                    <div class="CartItem-Variant">
                                        <p>SEASPONGE / XS</p>
                                    </div>
                                    <div class="CartItem-PriceList">
                                        <span
                                            class="CartItem-Price">$89.95</span>
                                        <ul>
                                            <div
                                                class="CartItem-Discount">
                                                Add 1 more to get 2 for $150
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="CartItem-action">
                                    <div
                                        class="CartItem-QuantitySelector">
                                        <div
                                            class="QuantitySelector"><a
                                                class="QuantitySelector__Button Link Link--primary"
                                                title="Set quantity to 0"
                                                href
                                                data-quantity="0"
                                                data-line="1"
                                                data-action="update-item-quantity"
                                                data-variant-id="40776957001830"
                                                data-operation="subtract"><svg
                                                    class="Icon Icon--minus "
                                                    role="presentation"
                                                    viewBox="0 0 16 2">
                                                    <path
                                                        d="M1,1 L15,1"
                                                        stroke="currentColor"
                                                        fill="none"
                                                        fill-rule="evenodd"
                                                        stroke-linecap="square"></path>
                                                </svg></a>

                                            <input type="text"
                                                name="updates[]"
                                                id="updates_40776957001830:d3dde7b3a0ba769ae66c020e7e49a97c"
                                                class="QuantitySelector__CurrentQuantity"
                                                pattern="[0-9]*"
                                                data-line="1"
                                                value="1"
                                                fdprocessedid="y89g1">
                                            <a
                                                class="QuantitySelector__Button Link Link--primary "
                                                href
                                                data-quantity="2"
                                                data-action="update-item-quantity"
                                                data-operation="add"
                                                data-line="1"
                                                data-variant-id="40776957001830"
                                                title="Set quantity to 2"><svg
                                                    class="Icon Icon--plus "
                                                    role="presentation"
                                                    viewBox="0 0 16 16">
                                                    <g
                                                        stroke="currentColor"
                                                        fill="none"
                                                        fill-rule="evenodd"
                                                        stroke-linecap="square">
                                                        <path
                                                            d="M8,1 L8,15"></path>
                                                        <path
                                                            d="M1,8 L15,8"></path>
                                                    </g>
                                                </svg></a>
                                        </div>
                                    </div>
                                    <a href
                                        class="CartItem-Remove">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="drawer-footer">
        <div class="side-cart">
            <div class="recommendation-header">
                <div class="close-icon">
                    <svg viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
                        <path d="M56 16.329c0 0.449-0.224 0.954-0.561 1.291l-26.148 26.148c-0.337 0.337-0.842 0.561-1.291 0.561s-0.954-0.224-1.291-0.561l-26.148-26.148c-0.337-0.337-0.561-0.842-0.561-1.291s0.224-0.954 0.561-1.291l2.806-2.806c0.337-0.337 0.786-0.561 1.291-0.561 0.449 0 0.954 0.224 1.291 0.561l22.052 22.052 22.052-22.052c0.337-0.337 0.842-0.561 1.291-0.561s0.954 0.224 1.291 0.561l2.806 2.806c0.337 0.337 0.561 0.842 0.561 1.291z"></path>
                    </svg>
                </div>
                <div class="side-cart-title">
                    How About These?
                </div>
                <div class="carousel-navigation">
                    <div class="carousel-prev">
                        <svg viewBox="0 0 100 100">
                            <path d="M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z" class="arrow"></path>
                        </svg>
                    </div>
                    <div class="carousel-next">
                        <svg viewBox="0 0 100 100">
                            <path d="M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
                        </svg>
                    </div>
                </div>
                <div class="collapse-container">
                    <svg viewBox="0 0 56 56"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M56 39.671c0 0.449-0.224 0.954-0.561 1.291l-2.806 2.806c-0.337 0.337-0.786 0.561-1.291 0.561-0.449 0-0.954-0.224-1.291-0.561l-22.052-22.052-22.052 22.052c-0.337 0.337-0.842 0.561-1.291 0.561s-0.954-0.224-1.291-0.561l-2.806-2.806c-0.337-0.337-0.561-0.842-0.561-1.291s0.224-0.954 0.561-1.291l26.148-26.148c0.337-0.337 0.842-0.561 1.291-0.561s0.954 0.224 1.291 0.561l26.148 26.148c0.337 0.337 0.561 0.842 0.561 1.291z"></path>
                    </svg>
                </div>
            </div>
            <div class="recommendation-result">
                    <div class="recommendation-item">
                        <div class="item-maincontent">
                            <img src="https://cdn.shopify.com/s/files/1/0004/3686/3040/files/MACTEE-SEASPONGE-A_200x600.jpg?v=1727161488">
                            <div class="item-hoverdetail">
                                <div class="item-selectionlist">
                                    <button class="item-selection active">XS</button>
                                    <button class="item-selection">S</button>
                                    <button class="item-selection">M</button>
                                    <button class="item-selection">L</button>
                                    <button class="item-selection">XL</button>
                                    <button class="item-selection">XXL</button>
                                </div>
                                <button class="item-addtocart">
                                    <span class="text">Add to bag</span>
                                </button>
                            </div>
                            <div class="item-bagbe">
                                New
                            </div>
                            <div class="item-bagbe-secondary">
                                25% Off
                            </div>
                        </div>
                        <div class="item-title">
                            <a>Mac Tee</a>
                        </div>
                        <div class="item-name">
                            <a>SEASPONGE</a>
                        </div>
                        <div class="item-price">
                            <a>$49.85</a>
                        </div>
                    </div>
                    <div class="recommendation-item">
                        <div class="item-maincontent">
                            <img src="https://cdn.shopify.com/s/files/1/0004/3686/3040/files/MACTEE-SEASPONGE-A_200x600.jpg?v=1727161488">
                            <div class="item-hoverdetail">
                                <div class="item-selectionlist">
                                    <button class="item-selection active">XS</button>
                                    <button class="item-selection">S</button>
                                    <button class="item-selection">M</button>
                                    <button class="item-selection">L</button>
                                    <button class="item-selection">XL</button>
                                    <button class="item-selection">XXL</button>
                                </div>
                                <button class="item-addtocart">
                                    <span class="text">Add to bag</span>
                                </button>
                            </div>
                            <div class="item-bagbe">
                                New
                            </div>
                            <div class="item-bagbe-secondary">
                                25% Off
                            </div>
                        </div>
                        <div class="item-title">
                            <a>Mac Tee</a>
                        </div>
                        <div class="item-name">
                            <a>SEASPONGE</a>
                        </div>
                        <div class="item-price">
                            <a>$49.85</a>
                        </div>
                    </div>
                    <div class="recommendation-item">
                        <div class="item-maincontent">
                            <img src="https://cdn.shopify.com/s/files/1/0004/3686/3040/files/MACTEE-SEASPONGE-A_200x600.jpg?v=1727161488">
                            <div class="item-hoverdetail">
                                <div class="item-selectionlist">
                                    <button class="item-selection active">XS</button>
                                    <button class="item-selection">S</button>
                                    <button class="item-selection">M</button>
                                    <button class="item-selection">L</button>
                                    <button class="item-selection">XL</button>
                                    <button class="item-selection">XXL</button>
                                </div>
                                <button class="item-addtocart">
                                    <span class="text">Add to bag</span>
                                </button>
                            </div>
                            <div class="item-bagbe">
                                New
                            </div>
                            <div class="item-bagbe-secondary">
                                25% Off
                            </div>
                        </div>
                        <div class="item-title">
                            <a>Mac Tee</a>
                        </div>
                        <div class="item-name">
                            <a>SEASPONGE</a>
                        </div>
                        <div class="item-price">
                            <a>$49.85</a>
                        </div>
                    </div>
                    <div class="recommendation-item">
                        <div class="item-maincontent">
                            <img src="https://cdn.shopify.com/s/files/1/0004/3686/3040/files/MACTEE-SEASPONGE-A_200x600.jpg?v=1727161488">
                            <div class="item-hoverdetail">
                                <div class="item-selectionlist">
                                    <button class="item-selection active">XS</button>
                                    <button class="item-selection">S</button>
                                    <button class="item-selection">M</button>
                                    <button class="item-selection">L</button>
                                    <button class="item-selection">XL</button>
                                    <button class="item-selection">XXL</button>
                                </div>
                                <button class="item-addtocart">
                                    <span class="text">Add to bag</span>
                                </button>
                            </div>
                            <div class="item-bagbe">
                                New
                            </div>
                            <div class="item-bagbe-secondary">
                                25% Off
                            </div>
                        </div>
                        <div class="item-title">
                            <a>Mac Tee</a>
                        </div>
                        <div class="item-name">
                            <a>SEASPONGE</a>
                        </div>
                        <div class="item-price">
                            <a>$49.85</a>
                        </div>
                    </div>
                    <div class="recommendation-item">
                        <div class="item-maincontent">
                            <img src="https://cdn.shopify.com/s/files/1/0004/3686/3040/files/MACTEE-SEASPONGE-A_200x600.jpg?v=1727161488">
                            <div class="item-hoverdetail">
                                <div class="item-selectionlist">
                                    <button class="item-selection active">XS</button>
                                    <button class="item-selection">S</button>
                                    <button class="item-selection">M</button>
                                    <button class="item-selection">L</button>
                                    <button class="item-selection">XL</button>
                                    <button class="item-selection">XXL</button>
                                </div>
                                <button class="item-addtocart">
                                    <span class="text">Add to bag</span>
                                </button>
                            </div>
                            <div class="item-bagbe">
                                New
                            </div>
                            <div class="item-bagbe-secondary">
                                25% Off
                            </div>
                        </div>
                        <div class="item-title">
                            <a>Mac Tee</a>
                        </div>
                        <div class="item-name">
                            <a>SEASPONGE</a>
                        </div>
                        <div class="item-price">
                            <a>$49.85</a>
                        </div>
                    </div>
                    <div class="recommendation-item">
                        <div class="item-maincontent">
                            <img src="https://cdn.shopify.com/s/files/1/0004/3686/3040/files/MACTEE-SEASPONGE-A_200x600.jpg?v=1727161488">
                            <div class="item-hoverdetail">
                                <div class="item-selectionlist">
                                    <button class="item-selection active">XS</button>
                                    <button class="item-selection">S</button>
                                    <button class="item-selection">M</button>
                                    <button class="item-selection">L</button>
                                    <button class="item-selection">XL</button>
                                    <button class="item-selection">XXL</button>
                                </div>
                                <button class="item-addtocart">
                                    <span class="text">Add to bag</span>
                                </button>
                            </div>
                            <div class="item-bagbe">
                                New
                            </div>
                            <div class="item-bagbe-secondary">
                                25% Off
                            </div>
                        </div>
                        <div class="item-title">
                            <a>Mac Tee</a>
                        </div>
                        <div class="item-name">
                            <a>SEASPONGE</a>
                        </div>
                        <div class="item-price">
                            <a>$49.85</a>
                        </div>
                    </div>
            </div>
        </div>

        <button type="button">Add Order Note</button>
        <p>Shipping & taxes calculated at checkout</p>
        <div class="hulk-wishlist-icon">
            <a href="#" class="hulk-header-icon">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </a>
        </div>
        <div class="slideshow-button">
            <a href class="buttongroup-item">
                <span>Checkout</span>
                <span class="Button-SeparatorDot"></span>
                <span>AU $89.95</span>
            </a>
        </div>

    </div>
</div>