<link
  rel="stylesheet"
  href="{{ 'header-left-menu.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<div class="menu-left" id="menu">
  <div class="close-menu-left">
    <svg
      class="Icon Icon--close "
      role="presentation"
      viewBox="0 0 16 14">
      <path
        d="M15 0L1 14m14 0L1 0"
        stroke="currentColor"
        fill="none"
        fill-rule="evenodd"></path>
    </svg>
  </div>
  <ul class="metismenu">
    <li>
      <button class="accordion">
        Bundles
        <span></span>
      </button>
      <div class="panel">
        <ul>
          <li>
            <button class="accordion">Mens Bundles
              <span></span>
            </button>
            <!-- fa arrow ko có tác dụng. nhớ xóa -->
            <div class="panel">
              <ul>
                <li><a href="#">2 for $150 Shirts & Shorts</a></li>
                <li><a href="#">2 for $99 Volleys</a></li>
                <li><a href="#">2 for $99 Swim</a></li>
                <li><a href="#">2 for $80 Varsity & Mac Tees</a></li>
                <li><a href="#">2 for $60 Roth & Jimmy Tees</a></li>
                <li><a href="#">2 for $50 Basic Tees</a></li>
              </ul>
            </div>
          </li>
          <li>
            <button class="accordion">Womens Bundles
              <span></span>
            </button>
            <div class="panel">
              <ul>
                <li><a href="#">2 for $150 Shirts & Shorts</a></li>
                <li><a href="#">2 for $60 Tees & Tanks</a></li>
                <li><a href="#">2 for $80 Long Sleeve Tops</a></li>
              </ul>
            </div>
          </li>
          <li>
            <button class="accordion">Kids Bundles
              <span></span>
            </button>
            <div class="panel">
              <ul>
                <li><a href="#">2 for $99 Shirts & Shorts</a></li>
                <li><a href="#">2 for $30 Basic Tees</a></li>
                <li><a href="#">2 for $80 Sweats</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button class="accordion">
        Mens
        <span></span>
      </button>
      <div class="panel">
        <ul>
          <li>
            <button class="accordion">EDITS
              <span></span>
            </button>
            <div class="panel">
              <ul>
                <li><a href="#">Gifts For Him</a></li>
                <li><a href="#">Event Outfitting</a></li>
                <li><a href="#">Mini-Me Edit</a></li>
                <li><a href="#">The Holiday Edit</a></li>
                <li><a href="#">Spring Knits</a></li>
                <li><a href="#">Colours Of Spring</a></li>
                <li><a href="#">Best Of Linen</a></li>
                <li><a href="#">Academy Icons</a></li>
              </ul>
            </div>
          </li>
          <li>
            <button class="accordion">CLOTHING
              <span></span>
            </button>
            <div class="panel">
              <ul>
                <li><a href="#">View All</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Pants & Chinos</a></li>
                <li><a href="#">Swim</a></li>
                <li><a href="#">Tops & Tees</a></li>
                <li><a href="#">Knit Shirts</a></li>
                <li><a href="#">Short Sleeve Shirts</a></li>
                <li><a href="#">Long Sleeve Shirts</a></li>
                <li><a href="#">Polo Shirts</a></li>
                <li><a href="#">Long Sleeve Tops</a></li>
                <li><a href="#">Jackets & Outerwear</a></li>
                <li><a href="#">Overshirts</a></li>
                <li><a href="#">Sweats</a></li>
                <li><a href="#">Knitwear</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Sale</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button class="accordion">
        WOMENS
        <span></span>
      </button>
      <div class="panel">
        <ul>
          <li>
            <button class="accordion">EDITS
              <span></span>
            </button>
            <div class="panel">
              <ul>
                <li><a href="#">Gifts For Her</a></li>
                <li><a href="#">Spring Eventwear</a></li>
                <li><a href="#">The Getaway Edit</a></li>
                <li><a href="#">The Colour Edit</a></li>
                <li><a href="#">Live In Linen</a></li>
                <li><a href="#">Best Sellers</a></li>
                <li><a href="#">Academy Capsule</a></li>
              </ul>
            </div>
          </li>
          <li>
            <button class="accordion">CLOTHING
              <span></span>
            </button>
            <div class="panel">
              <ul>
                <li><a href="#">View All</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Pants</a></li>
                <li><a href="#">Sets</a></li>
                <li><a href="#">Tanks & Singlets</a></li>
                <li><a href="#">Tops & Tees</a></li>
                <li><a href="#">Short Sleeve Shirts</a></li>
                <li><a href="#">Long Sleeve Shirts</a></li>
                <li><a href="#">Long Sleeve Tops</a></li>
                <li><a href="#">Dresses</a></li>
                <li><a href="#">Jackets</a></li>
                <li><a href="#">Sweats</a></li>
                <li><a href="#">Knitwear</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Sale</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button class="accordion">
        KIDS
        <span></span>
      </button>
      <div class="panel">
        <ul>
          <li>
            <button class="accordion">Academy Kids
              <span></span>
            </button>
            <div class="panel">
              <ul>
                <li><a href="#">View All</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Matching Outfits</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Pants</a></li>
                <li><a href="#">Swim</a></li>
                <li><a href="#">Tees</a></li>
                <li><a href="#">Shirts</a></li>
                <li><a href="#">Tops</a></li>
                <li><a href="#">Sweats</a></li>
                <li><a href="#">Jackets</a></li>
                <li><a href="#">Sale</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button class="accordion">
        Gift Guide
        <span></span>
      </button>
      <div class="panel">
        <ul>
          <li>
            <button class="accordion">View All<span></span>
            </button>
            <div class="panel">
              <ul>
                <li><a href="#">Gifts for Him</a></li>
                <li><a href="#">Gifts for Her</a></li>
                <li><a href="#">Gifts for Rookie</a></li>
                <li><a href="#">Gift Cards</a></li>
              </ul>
            </div>
          </li>
          <li>
            <button class="accordion">Accessories
              <span></span>
            </button>
            <div class="panel">
              <ul>
                <li><a href="#">Bags</a></li>
                <li><a href="#">Beach Towels</a></li>
                <li><a href="#">Belts</a></li>
                <li><a href="#">Bottles</a></li>
                <li><a href="#">Candles</a></li>
                <li><a href="#">Hats</a></li>
                <li><a href="#">Mr Voss Collection</a></li>
                <li><a href="#">Skincare</a></li>
                <li><a href="#">Socks</a></li>
                <li><a href="#">Sunglasses</a></li>
                <li><a href="#">Underwear</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <ul>
    <li class="linkitem">Account</li>
    <li class="linkitem">Wishlist</li>
  </ul>
</div>