.slideshow-button {
    margin: 30px 0;
  }
  .slideshow-button .buttongroup-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    background-color: white;
    padding: 15px 0px;
    margin: 5px 0;
    border: 1px solid white;
    color: black;
    overflow: hidden;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    position: relative;
    z-index: 2;
  }
  .slideshow-button .buttongroup-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: left 0.4s ease-in-out;
    z-index: 1;
  }
  .slideshow-button .buttongroup-item:hover::before {
    left: 100%;
  }
  .slideshow-button .buttongroup-item:hover {
    background-color: transparent;
    color: white;
  }
  .slideshow-button .buttongroup-item:not(:hover) {
    transition: color 0.25s ease-in-out 0.25s, background-color 0.25s ease-in-out 0.25s;
  }
  
  
  .footer .footer-contain {
    padding: 0 80px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  @media screen and (max-width: 576px) {
    .footer .footer-contain {
      padding: 20px;
      gap: 0;
      justify-content: start;
      height: auto;
    }
  }
  .footer .footer-contain .footer-main {
    display: flex;
    width: 100%;
  }
  .footer .footer-contain .footer-main ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer .footer-contain .footer-main-left {
    display: flex;
    gap: 10%;
    width: 100%;
  }
  @media screen and (max-width: 576px) {
    .footer .footer-contain .footer-main-left {
      margin-top: 30px;
      flex-direction: column;
      gap: 0px;
    }
  }
  .footer .footer-contain .footer-main-left .linklist-container {
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 576px) {
    .footer .footer-contain .footer-main-left .linklist-container:first-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
    .footer .footer-contain .footer-main-left .linklist-container:last-child {
      margin-top: 30px;
    }
  }
  .footer .footer-contain .footer-main-left .linklist-container .accordion {
    display: inline-block;
    background-color: inherit;
    color: inherit;
    font-size: 0.8em;
    font-weight: bold;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
    cursor: pointer;
    margin: 20px 0;
  }
  @media screen and (max-width: 576px) {
    .footer .footer-contain .footer-main-left .linklist-container .accordion span {
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 18px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      margin-right: 10px;
      transition: transform 0.5s ease;
    }
    .footer .footer-contain .footer-main-left .linklist-container .accordion span::before {
      content: "+";
      color: rgba(255, 255, 255, 0.25);
      transition: opacity 0.3s ease;
    }
    .footer .footer-contain .footer-main-left .linklist-container .accordion.active span::before {
      content: "+";
      color: rgba(255, 255, 255, 0.25);
      transition: opacity 0.3s ease, content 0.3s ease;
    }
    .footer .footer-contain .footer-main-left .linklist-container .accordion.active span::before {
      content: "-";
      color: rgba(255, 255, 255, 0.25);
    }
    .footer .footer-contain .footer-main-left .linklist-container .accordion.active span {
      transform: rotate(0);
    }
    .footer .footer-contain .footer-main-left .linklist-container .accordion.active span::after {
      content: "";
    }
  }
  .footer .footer-contain .footer-main-left .linklist-container .panel {
    overflow: visible;
    padding-left: 0;
  }
  .footer .footer-contain .footer-main-left .linklist-container .panel ul li {
    margin: 10px 0;
  }
  .footer .footer-contain .footer-main-left .linklist-container .panel ul li a {
    text-decoration: none;
    color: white;
    color: inherit;
    font-size: 0.8em;
  }
  @media screen and (max-width: 576px) {
    .footer .footer-contain .footer-main-left .linklist-container .panel {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s ease-out;
      padding-left: 34px;
    }
    .footer .footer-contain .footer-main-left .linklist-container .panel li {
      margin: 30px 0 10px 0;
    }
    .footer .footer-contain .footer-main-left .linklist-container .showpanel {
      max-height: 500px !important;
    }
  }
  .footer .footer-contain .footer-main-right {
    width: 50%;
  }
  .footer .footer-contain .footer-main-right .linklist-title {
    margin: 20px 0;
    font-size: 0.8em;
    font-weight: bold;
    color:#fff;
  }
  .footer .footer-contain .footer-main-right .footer-right-describe {
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
    word-break: break-word;
  }
  .footer .footer-contain .footer-main-right .slideshow-button .buttongroup-item {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
  }
  .footer .footer-contain .footer-main-right .footer-social {
    display: flex;
    gap: 20px;
  }
  .footer .footer-contain .footer-main-right .footer-social li a {
    display: inline-block;
    background-color: inherit;
    color: white;
    font-size: 25px;
  }
  @media screen and (max-width: 576px) {
    .footer .footer-contain .footer-main {
      flex-direction: column-reverse;
    }
    .footer .footer-contain .footer-main .footer-main-right {
      width: 100%;
    }
  }
  .footer .footer-contain .footer-under {
    margin: 20px 0 0 0;
  }
  .footer .footer-contain .footer-under #currency-dropdown {
    background-color: inherit;
    border: none;
    color: inherit;
    font-size: 0.8em;
    width: 70px;
  }
  .footer .footer-contain .footer-under #currency-dropdown option {
    color: black;
  }
  .footer .footer-contain .footer-under .footer-copyright {
    width: auto;
    margin: 15px 0 0 0;
  }
  .footer .footer-contain .footer-under .footer-copyright .footer-storename {
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
    margin: 0 40px;
  }
  .footer-paymentlist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
    background-color: #dddddd;
  }
  .footer-paymentlist svg {
    width: 30px;
    height: 30px;
  }
  @media screen and (max-width: 576px) {
    .footer-paymentlist {
      display: none;
    }
  }
  