.dropdown-list {
  display: flex;
  position: absolute; 
  top: 103px;
  left: 0;
  width: 100%;
  /* min-height: 550px; */
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  box-sizing: border-box;
  background-color: white;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  height: calc(100vh - 181px);
}
.dropdown-list .dropdown-content {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  max-width:1790px;
  margin: 0 auto;
  transform: translateX(-50%);
  justify-content: center;
  width: 100%;
  background-color: white;
  padding-bottom:20px;
  overflow-y: auto;
  height: calc(100vh - 181px);
}
.dropdown-list .dropdown-content .megamenu-list {
  padding-top: 40px;
  display: flex;
  width: 100vw;
  margin-left: 60px;
}
.dropdown-list .dropdown-content .megamenu-list .megamenu-item {
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-right: 30px;
}
.dropdown-list .dropdown-content .megamenu-list .megamenu-item .megamenu-item-title {
  margin: 20px 0;
  font-weight: bold;
  font-size: 1.2em;
}
.dropdown-list .dropdown-content .megamenu-list .megamenu-item .linklist {
  display: flex;
  width: 250px;
  flex-direction: column;
}
.dropdown-list .dropdown-content .megamenu-list .megamenu-item .linklist li {
  margin: 0;
}
.dropdown-list .dropdown-content .megamenu-list .megamenu-item .linklist a {
  font-weight:normal;
}
.dropdown-list .dropdown-content  .megamenu-img {
  padding-top: 40px;
  margin-left: auto;
  display: flex;
  gap: 30px;
  margin-right: 60px;
}
.dropdown-list .dropdown-content  .megamenu-img .megamenu-img-content {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.dropdown-list .dropdown-content  .megamenu-img .megamenu-img-content img {
  max-width: 100%;
  height: auto;
}
.dropdown-list .dropdown-content  .megamenu-img .megamenu-img-content b {
  margin: 10px;
  text-align: center;
}